a {
    color: #F2FFFC;
    text-decoration: none;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: nome;
}

body{
    overflow-x: hidden;
}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}

.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;    
}

header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i{
    height: 45px;
    width: 45px;
    background-color: #5c6ba2;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display:none;
}

nav .togglebtn span{
    display: block;
    background-color: #5c6ba2;
    margin: 5px 0px;
    width: 100%;
    height: 4px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks{
    list-style-type: none;
}

nav .navlinks li{
    display: inline-block;
    color: #ffffff;
    margin: 2.5rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}

.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover{
    transform: scale(1.2);
}

.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h3{
    color: aliceblue;
    font-size: 14px;
}

.hero-text h3 span{
    color: #5c6ba2;
    font: 16px;
}

.hero-text h5{
    font-size: 50px;
    color: #5c6ba2;
    font: 3rem;
}

.hero-text p{
    color: aliceblue;
}

.btn-group{
    margin: 45px 0;
}

.btn-group .btn{
    border-color: #d5d5d5;
    color: #ffffff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 6px solid #ffffff;
    box-shadow: 0 10px 10px -18px rgb(0 0 0 / 78%);
}

.btn.active{
    border-color: #5c6ba2;
}

.hero-text .social i{
    color: #ffffff;
    font-size: 30px;
    margin-right: 20px;
    transition: 0.5s;
}

.hero-text .social i:hover{
    color: #5c6ba2;
    transform: rotate(360deg);
}
.rodape {
    position: fixed;
    display: inline-flex;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rodape h3 {
    color: #000000;
    font-family: 'Righteous', cursive;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.rodape a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color:  #5c6ba2;
    color: #ffffff;
    margin: 0.6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 30px;
}

.rodape a:hover {
    width: 180px;
    background-color: #ffffff;
    color: #000000;
}

.rodape a i {
    transition: 00.3s all;
}

.rodape a:hover > i {
    transform: scale(0) rotate(360deg);
}

.rodape :hover h3 {
    font-size: 0.7em !important;
    text-align: center;
    margin-right: 18px;
    transition: 0.1s;
    transition-delay: 0.1s;
}


@media(max-width:930px){
    nav .togglebtn{
        display: initial;
    }

    .click{
        top: 45px;
    }

    .click span{
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child{
        transform: rotate(-40deg);
    }

    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }

    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }

    .navlinks{
        color: #962525;
    }

    .navlinks {
        color: #F2FFFC;
        text-decoration: none;
    }

    nav .navlinks{
        position: absolute;
        top: 110px;
        right: 0;
        bottom: 0;
        width: 60%;
        height: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-sizing: 5px 13px rgba(255, 255, 255, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }

    nav .navlinks li{
        display: block;        
    }

    nav .navlinks li a{
        display: block;
        margin: 15px;
        text-align: center;
    }

    nav .navlinks.open{
        right:0
    }


@media(max-width:768px){

    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
}    
}
