a {
    color: #F2FFFC;
    text-decoration: none;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Retro Gaming";
    text-decoration: nome;
}

body{
    font-family: "Retro Gaming";
    overflow-x: hidden;
    background: #222;
}

.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
    color:#fff;
}

.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;    
}

header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i{
    height: 45px;
    width: 45px;
    background-color: #5c6ba2;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display:none;
}

nav .togglebtn span{
    display: block;
    background-color: #5c6ba2;
    margin: 5px 0px;
    width: 100%;
    height: 4px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks{
    list-style-type: none;
    font-size: 20px;
}

nav .navlinks li{
    display: inline-block;
    color: #ffffff;
    margin: 2.5rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.imagem-projetos {
    max-width: 100%; 
    height: auto; 
}


.section-normal {
    flex-direction: column; 
}

.parte-escrita,
.codigo {
    text-align: center;
}

.codigo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    color: #808080;
    font-size: 18px;
    text-decoration: none;
}

.codigo a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: #202020;
    color: #808080;
    border: 0.1px solid #808080;
    margin: 0.6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 20px;
}

.codigo a:hover {
    background-color: #808080;
    color: #000000;
}

.codigo a i {
    transition: 00.3s all;
}

.codigo a:hover > i {
    transform: scale(1.6) rotate(360deg);
}

.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover{
    transform: scale(1.2);
}

.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}



.hero-text h3 span{
    color: #ffffff;
    font: 20px;
}

.hero-text h5{
    font-size: 50px;
    color: #5c6ba2;
    font: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text p{
    color: aliceblue;
}

.btn-group{
    margin: 45px 0;
}

.btn-group .btn{
    border-color: #d5d5d5;
    color: #ffffff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 6px solid #ffffff;
    box-shadow: 0 10px 10px -18px rgb(0 0 0 / 78%);
}

.btn.active{
    border-color: #5c6ba2;
}

.hero-text .social i{
    color: #ffffff;
    font-size: 30px;
    margin-right: 20px;
    transition: 0.5s;
}

.hero-text .social i:hover{
    color: #5c6ba2;
    transform: rotate(360deg);
}

/* parte dos icones do conteudo */

.conteudo-secundario-icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.conteudo-secundario-icones i {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: none;
    color: #808080;
    margin: 0.6px;
    border: none;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 50px;
    padding-top: 50px;
}
.section-especial {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  
}

.section-especial .conteudo-secundario-icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.section-especial .conteudo-secundario-icones i {
    width: 70px; 
    height: 70px;
    font-size: 50px;
   
}

.conteudo-secundario-icones i:hover {
    transform: scale(1.6);
}

.html i:hover{
    color: #e34c26;
}

.css3 i:hover{
    color: #264de4;
}

.python i:hover{
    color: #fcd15b;
}

.java i:hover{
    color: #eb2e2e;
}

.react i:hover{
    color: #517fa0;
}
.node i:hover{
    color: #286b39;
}
.javascript  i:hover{
    color: #ecca0a;
}
.bd  i:hover{
    color: #000000;
}
p {
    font-size: 18px;
    align-items:flex-end;
   
  }
.tx {
    text-align: center;
}
.rodape {
    position: fixed;
    display: inline-flex;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rodape h3 {
    color: #000000;
    font-family: "Retro Gaming";
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.rodape a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color:  #5c6ba2;
    color: #ffffff;
    margin: 0.6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 30px;
}

.rodape a:hover {
    width: 180px;
    background-color: #ffffff;
    color: #000000;
}

.rodape a i {
    transition: 00.3s all;
}

.rodape a:hover > i {
    transform: scale(0) rotate(360deg);
}

.rodape :hover h3 {
    font-size: 0.7em !important;
    text-align: center;
    margin-right: 18px;
    transition: 0.1s;
    transition-delay: 0.1s;
}
  /* Responsiveness */
  @media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 20px;
    }
    .navlinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #f9f9f9;
        width: 100%;
        padding: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        z-index: 1;
    }
    .navlinks.open {
        display: flex;
    }
    .navlinks li {
        margin-bottom: 10px;
    }
    .togglebtn {
        display: block;
    }
    .togglebtn span {
        background-color: #333;
        height: 3px;
        width: 25px;
        display: block;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }
    .togglebtn.click span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .togglebtn.click span:nth-child(2) {
        opacity: 0;
    }
    .togglebtn.click span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    
    }

    .section-normal {
        flex-direction: row; /* Dispor as seções horizontalmente */
    }

    .parte-escrita,
    .codigo {
        text-align: left; /* Alinhar o texto à esquerda */
    }
}


@media(max-width:930px){
    nav .togglebtn{
        display: initial;
    }

    .click{
        top: 45px;
    }

    .click span{
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child{
        transform: rotate(-40deg);
    }

    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }

    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }

    .navlinks{
        color: #962525;
    }

    .navlinks {
        color: #F2FFFC;
        text-decoration: none;
    }

    nav .navlinks{
        position: absolute;
        top: 110px;
        right: 0;
        bottom: 0;
        width: 60%;
        height: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-sizing: 5px 13px rgba(255, 255, 255, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }

    nav .navlinks li{
        display: block;        
    }

    nav .navlinks li a{
        display: block;
        margin: 15px;
        text-align: center;
    }

    nav .navlinks.open{
        right:0
    }


@media(max-width:768px){

    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
}    
}
